<!DOCTYPE html>
<html>
  <head>
    <%- include( '../../layout/head.ejs' ) %>
  </head>
  <body>
    <header>
      <h1>Search Results</h1>
    </header>
    <main>
        <ul>
          <% finalBookArray.forEach(book => { %>
            <img class="book_image" src=<%= book.image_url %> >
            <h2 class="books"><%= book.title %></h2>
            <h3 class="books"><%= book.author %></h3>
            <p class="books"><%= book.description %></p>
            
          <% }) %>
        </ul>
    </main>
    <footer>
      <%- include( '../../layout/footer.ejs' ) %>
    </footer>
  </body>
</html>